MEDALLION_USERNAME=admin
MEDALLION_PASSWORD=changeme_before_installing_a_medallion_server

OPENTAXII_DB_USER=opentaxii
OPENTAXII_DB_PASSWORD=opentaxii
OPENTAXII_AUTH_SECRET=changeme

OPENTAXII_TAXII_USERNAME=admin
OPENTAXII_TAXII_PASSWORD=admin
